name: Update IPRANGE
on:
 schedule:
 - cron: 55 * * * *
 workflow_dispatch:
jobs:
 IPRANGE:
   runs-on: windows-latest
   steps:
     - uses: actions/checkout@v5
     - run: |
         $IPLIST = (Get-Content IPLIST.txt) -Join ','
         $DYKWID = '{3817fa89-3f21-49ca-a4a4-80541ddf7465}'
         New-NetFirewallDynamicKeywordAddress -Id $DYKWID -Keyword "BT_BAN_IPLIST" -Addresses $IPLIST | Out-Null
         (Get-NetFirewallDynamicKeywordAddress -Id $DYKWID).Addresses -Split ',' | Out-File IPRANGE.txt
         Get-Content IPRANGE.txt | Select-String '\.' | Out-File IPRANGE4.txt
         Get-Content IPRANGE.txt | Select-String ':' | Out-File IPRANGE6.txt
         git config --local user.name ${GITHUB_ACTOR}
         git config --local user.email ${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com
         git add IPRANGE.txt
         git add IPRANGE4.txt
         git add IPRANGE6.txt
         git commit -m "Update IPRANGE.txt" || [System.Environment]::Exit(0)
         git push origin main
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#    - name: Push changes
#      uses: ad-m/github-push-action@master
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
#        force: true
