name: Update IPLIST
on:
 schedule:
 - cron: 50 * * * *
 workflow_dispatch:
jobs:
 IPLIST:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4
     - run: |
         curl -Lso IPLIST.txt https://raw.githubusercontent.com/PBH-BTN/BTN-Collected-Rules/main/combine/all.txt
         sed -e 's/#.*//' -e '/^$/d' -e '/^::1$/d' -i IPLIST.txt
         zip -r IPLIST.zip IPLIST.txt
         git config --local user.name ${GITHUB_ACTOR}
         git config --local user.email ${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com
         git add IPLIST.txt
         git commit -m "Update IPLIST.txt" || exit 0
         git add IPLIST.zip
         git commit -m "Update IPLIST Archive"
         git push origin main
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#    - name: Push changes
#      uses: ad-m/github-push-action@master
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
#        branch: ${{ github.ref }}
